h1 {
    text-shadow: 1px 1px black;
    color: #FFF;
    
 }
body {
    background-color: #a82c2c;
    text-align: center;
    flex: 1;
    font-weight: bolder;
    background-image: url("back.jpg");
    color: #FFF;
    font-size: 25px;
    text-shadow: 2px 1px black;
}
header {
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
 }
 .formulario {
    
    padding: 15px;
    
 }

 fieldset {
     border-radius: 100px;
     padding: 35px;
     margin-bottom: 20px;
 }

 .botao {
     width: 150px;
     height: 30px;
     text-align: center;
     
 }

 .resumo {
     display: none;
     
 }
 .botoes {
    display: none;
    
}